#amethyst {
    width: 200px;
    height: 200px;
}
#sapphire {
    width: 200px;
    height: 200px;
}
#emerald {
    width: 200px;
    height: 200px;
}
h1 {
    background-color: orange;
}
p {
    background-color: tan;
}
br {
    background-color: tan;
}
.paragraph {
    background-color: tan;
}
p {
    color: green;
}